# Ignore everything by default
*

# Allow compose.yaml files
!*/compose.yaml

# Allow files ending with .example
!*.example

# Allow standard Git files
!.gitignore
!.gitmodules
!README.md

# Allow everything in the .scripts directory
!.scripts/
