VIKUNJA_DATABASE_HOST=vikunja-db
VIKUNJA_DATABASE_PASSWORD=##############################
VIKUNJA_DATABASE_TYPE=mysql
VIKUNJA_DATABASE_USER=vikunja
VIKUNJA_DATABASE_DATABASE=vikunja
VIKUNJA_SERVICE_JWTSECRET==##############################
VIKUNJA_SERVICE_TIMEZONE=${TZ-US/Mountain}
MYSQL_ROOT_PASSWORD==##############################
MYSQL_USER=vikunja
MYSQL_PASSWORD==##############################
MYSQL_DATABASE=vikunja